.stuff{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.title{
    padding: 0 35vw;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 46px;
    text-transform: capitalize;
}

.products{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.products::-webkit-scrollbar{
    display: none;
}
.cards{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    overflow: hidden;
}
.pictureofstuff{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden; 
   

}


.men{
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.btncard{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10%;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.btncard:hover{
    opacity: 1;
    background-color: #fff5ee;
    
}


.info{
    width: 100%;
    height: 100px;
    padding-top: 10px;

}
.brand{
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 100px;
}
.price{
    font-weight: 500;
    font-size: 20px;
}

.prevbtn,.nextbtn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-self: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%,#fff 100%);
    cursor: pointer;
    z-index: 8;

}

.prevbtn{
    background-color: #fff;
    left: 0;
    transform: rotate(180deg);
}

.nextbtn{
    background-color: #fff;
    right: 0;
}

.prevbtn:hover{
    background-color: wheat;
    opacity: 1;
}

.nextbtn{
    background-color: wheat;
    opacity: 1;
}

.prevbtn img{
    opacity: 0.2;
}

.nextbtn img{
    opacity: 0.2;
}

.prevbtn:hover img{
    opacity: 1;
}

.nextbtn:hover img{
    opacity: 1;
}